/* Container styles */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  /* Form wrapper styles */
  .form-wrapper {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Form layout styles */
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Adjust margin between form rows */
  }
  
  /* Label styles */
  .form-label {
    width: 140px; /* Ensure all labels have the same width for alignment */
    margin-right: 10px;
    color: #ecf0f1;
    text-align: left; /* Align labels to the left */
  }
  
  /* Input styles */
  .form-input {
    flex: 1; /* Flexible width for input fields */
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #ecf0f1;
  }
  
  /* Button styles */
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #16a085;
  }
  
  /* Heading styles */
  h1 {
    color: #ecf0f1;
    text-align: center;
    margin-bottom: 20px;
  }
  